#difficulty-label,
#difficulty-select,
#begin-button,
#question-amount-label,
#question-amount,
#feedback-text {
    visibility: hidden;
}

#question-area,
#options-area,
#feedback-text,
#count-down,
main,
header {
    text-align: center;
}

#options-area label {
    cursor: pointer;
    display: inline-block;
    width: 400px;
    margin-bottom: 5px;
    border: 1px solid black;
}

#options-area label:hover{
    background-color: #b8e1ba;
}

.game-variables {
    font-style: italic;
}

input[type=radio][name=answer] {
    display: none
}

select>option {
    background-color: #b8e1ba;
}

input {
    cursor: pointer;
}

body {
    background-color: cornsilk;
    font-family: "Roboto", serif;
}

button {
    background-color: #2D96C2;
    color: #FFF;
    border: none;
    cursor: pointer;
    border-radius: 15%;
    margin-top: 10px;
}

main {
    margin: 0 auto;
}

li {
    list-style-type: none;
}