#difficulty-label,
#difficulty-select,
#begin-button,
#question-amount-label,
#question-amount, 
#feedback-text {
    visibility: hidden;
}

.game-variables {
    font-style: italic;
}

input{
    cursor: pointer;
}

#options-area label{
    cursor: pointer;
}

select>option {
    background-color: #b8e1ba;
}

button {
    background-color: #2D96C2;
    color: #FFF;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

header {
    text-align: center;
}

main {
    text-align: center;
    margin: 0 auto;
}

li {
    list-style-type: none;
}